alembic
pandas
psycopg2
geoalchemy2
mysqlclient
sqlalchemy~=1.4.22
python-dotenv
faker
pydantic
alchemyjsonschema
click~=7.1.2
requests
PyYAML
django
# pygeoapi@git+https://github.com/geopython/pygeoapi@0.13.0
shapely<2.0